 .container-fluid{
background-color: #15550f;
min-height: 100%
 }
 p{
    color:#15550f;
    font-weight: bold
}

img {
    width: 8vw;
    height: 20vh;
 padding:1em
}

.definition {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(177, 177, 189, 0.8);
    margin-top:2em;
    margin-bottom: 2em
}

 .actionbtn  {
    
    margin: 0.5em;
    box-shadow: 3px 5px 
   
} 

@media only screen and (max-width: 1500px) {
    img {
        width: 35vw;
        height: 20vh;
        padding:1em
        
    }
}