.map {
    cursor: pointer;
}

.actioncontain {
    background-color: white;
    min-height: 100vh;
    padding-bottom: 20vh
}

p {
    /* color: #15550f; */
    font-weight: bold
}

.actionlogo {
    width: 8vw;
    height: 18vh;
    padding: 1em
}

.definition {
    
    font-family: 'Josefin Sans';
    display: flex;
    flex-direction: column;
    margin:20px;
    font-size: 1.5vw;
    
}
.def{
    font-size: 1vw;
}

.btngo {
  
    background-color: #2abbad;
    width:100%;
    color:white
    
}
.btnback{
    background-color: #004c52;
    width:100%;
    margin-top: 2vh;
    color:white
    
}

.bt {
    margin: 2.5vw;
    box-shadow: 3px 5px;
    cursor: pointer;
}


@media only screen and (max-width: 1100px) {
    .actionlogo {
        width: 16vw;
        height: 20vh;
    }
}

@media only screen and (max-width: 500px) {
    .actionlogo {
        width: 30vw;
        height: 18vh;
    }
    .definition
    {
        font-size:5vw;
    }
    .def{
        font-size:5vw
    }
}

