table {
width: 100%;
}

thead {
    border-bottom: 3px solid rgb(100, 165, 173) !important
}

tbody {
}

.nobuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.twins {
    margin : 30px 30px;
}

.number_page {
    font-size: 150%;
}