.rbc-event {
    z-index: 999 !important;
  }

  @media screen and (max-width: 640px) {
    select {max-width: 250px}
  }

.calendrier {
  background-color: #edf0f4
}

.rbc-btn-group {
  flex-grow: 1
}
.rbc-toolbar {
  font-size: 2vh !important;
  margin-bottom: 1vh !important;
}