.rbc-event {
    z-index: 999 !important;
  }

  @media screen and (max-width: 640px) {
    select {max-width: 250px}
    .rbc-toolbar {
      padding-left: 7vh;
    }
  }

.calendrier {
  background-color: #edf0f4;
  padding-bottom: 10vh
}

.rbc-btn-group {
  flex-grow: 1
}
.rbc-toolbar {
  font-size: 2vh !important;
  margin-bottom: 1vh !important;
  min-height: 7vh
}

.dropdown {
  overflow: hidden;
}

.btn-filtre {
  position: absolute;
  margin-left: 1vh;
  margin-top: 5vh;
  left:0 ;
}

.btn-add {
  position: absolute;
  margin-left: 1vh;
  margin-top: 0.5vh;
  left:0 ;
}

.button-cal {
  display:flex;
  flex-direction: row;
  justify-content: center;
}