.icon {
    width: 5vw;
    height: 7vh;
    margin: 1em;
}

.logoasso{
    width: 30%;
    height: 60%;
}

.top {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-between;
    background-color: white;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(175, 175, 173);
    padding: 1em;
}

.actioncard {
    border: 1px solid  #2abbad !important;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 2em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reseaux{
    display:flex;
    margin: 3em;
}
.actioncard p{
   color:white;
}

.icon{
    width: 50%;
    height: 50%;
}

@media only screen and (max-width: 1100px) {
    .info p{
        font-size: 0px
    }
    .reseaux{
       display: flex;
       margin: auto;
    }
    .entete{
        display: flex;
        flex-direction: column;
        margin: auto;
     }
   
}

.btn-asso {
    background-color: #004c52 !important;
    color: white !important;
}

.btn-asso:hover {
    background-color: white !important;
    color: #004c52 !important;
}