.nav-link {
    margin: 0 25px;
    font-size: 1.50em;
    color: white;

}

.nav-link:hover {
    color: #2abbad;
}

.nav-link {
    font-family: Pacifico;
}

.collapse {
    display: flex;
    justify-content: center;
}
#logo{
    background-color: white;
}

.navbar {
    background-color: #004c52!important;
}

.btn-menu {
    font-family: 'Josefin Sans';
    font-size: 1.25em !important;
}


