.map path:hover,.map path.active {
    fill:rgb(100, 165, 173);
    transition: fill 0.3s;
  }
  
  .map_view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 85vh;
  }
  .MuiPaper-elevation1-6 {
    box-shadow: 0px !important;
  }
  

  .map_list{
    color: inherit;
    transition: color 0.3s;
    font-family: 'Times New Roman', serif;
    
  }
  
  .map_list li,a {
    text-decoration: none;
    list-style: none;
    color: rgb(98, 103, 201);
  }
  
  .map_list a:hover{
  color: red;
  }
  
  .block_map{
    text-align: center;
  }
  
.dep{
    margin-top: 40px;
    font-family: 'Times New Roman', serif;
}

li {
  font-family: 'Times New Roman', serif;
  font-size: 120%
}
