@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
.item {
    background-color: rgb(166, 219, 240, 0)
}

/* @media only screen and (min-width: 1000px) { */

.carousel-global {
    width: 50%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}

.news {
    background-color: rgb(44, 173, 206);
    border: 4px solid rgb(110, 138, 199);
    border-radius: 30px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
    padding: 3em
}

.text {
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Fira Sans', sans-serif;
}

.carousel img {
    max-height: 20em;
    max-width: 70%;
    margin: 2em;
    border-radius: 30px;
}

.title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2vw;
    color: white;
    text-shadow: 2px 2px black
}

.date {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3vw;
    color: rgb(248, 95, 7)
}

.text {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.75vw;
    line-height: 1.5em;
    
}

.control-dots {
    background-color: rgb(255, 255, 0, 0)
}

.carousel .slide {
    background: rgba(24, 110, 185, 0)
}

@media only screen and (max-width: 600px) {
    .carousel-global {
        width: 100%;
    }
    .carousel img {
        max-height: 17em;
        max-width: 70%;
        margin: 2em;
        border-radius: 30px;
    }
    .title,
    .date {
        font-family: sans-serif;
        font-size: 6.5vw;
    }
    .text {
        font-family: sans-serif;
        font-size: 5vw;
    }
}