.item {
    background-color: white;
}

.carousel img {
    max-height: 75vh;
    max-width: 52vw;
}


.legend {
    opacity: 1 !important;
    line-height: 3.5em;
}

.title ,.date{
    font-family: sans-serif;
    font-size: 28px;
    line-height: 2.5em;
}

.text {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5em;
}